{% extends "base.html" %}
{% block content %}
      <table border = 1>
        
         <thead>
            <td>Train Number</td>
            <td>Departure Date</td>
            <td>Departure</td>
            <td>Value</td>
            <td>Flexible</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["trainnumber"]}}</td>
               <td>{{row["departuredate"]}}</td>
               <td> {{row["departure"]}}</td>
               <td>{{row["value"]}}</td>
               <td>{{row["flexible"]}}</td>		
            </tr>
         {% endfor %}
      </table>
      
{% endblock %}